body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: none;
  float: left;
  height: 300px;
  padding: 0;
  width: 51px;
}

.dark {
  background-image: url(./images/spike_yellow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.light {
  background-image: url(./images/spike_red.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flipvert {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.bar {
  width: 25px;
  height: 300px;
  background: black;
  float: left;
  display: inline;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bold-square {
  border: 2px solid #090;
  background: #fee;
}
