body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #fff;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: none;
  float: left;
  height: 300px;
  padding: 0;
  width: 51px;
}

.flip180 {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.chip {
  /*border: 1px solid black;*/
  height: 51px;
  width: 51px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 51px 51px;
  position: absolute;
  start: 0;
}

.selectable {
    -webkit-filter: brightness(200%)
}

.selectable:hover {
    -webkit-filter: brightness(300%)
}

.chip_light {
  background-image: url(./images/chip_light.png);
}

.chip_dark {
  background-image: url(./images/chip_dark.png);
}

.dark {
  background-image: url(./images/spike_yellow.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.light {
  background-image: url(./images/spike_red.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.flipvert {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.part div:first-child {
  clear: both;
}

.bar {
  width: 25px;
  height: 600px;
  background: black;
  float: left;
  /*display: inline;*/
}

.board-section {
 float: left;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  text-align: center;
}

.game {
}

.game-info {
  margin-left: 20px;
}

.bold-square {
  border: 2px solid #090;
  background: #fee;
}
