body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #fff;
  margin: 0;;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.top-area {
  height: 20px;
}

.square {
  /*border: 1px solid black;*/
  float: left;
  height: 300px;
  padding: 0;
  width: 51px;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark {
  background-image: url(./images/spike_yellow.png);
}

.light {
  background-image: url(./images/spike_red.png);
}

.dark-bottom {
  background: url(./images/spike_yellow_bottom.png) 0 -55px no-repeat;
  background-size: 51px 355px;
}

.light-bottom {
  background: url(./images/spike_red_bottom.png) 0 -55px no-repeat;
  background-size: 51px 355px;
}

.light-bottom .chip, .dark-bottom .chip {
  top: 550px;
}

.chip {
  height: 51px;
  width: 51px;
  background-repeat: no-repeat;
  background-size: 51px 51px;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(-2px 2px 1px #222);
}

.selectable {
  animation-name: showMovableChips;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.selectable:hover {
  cursor: grab;
  -webkit-filter: brightness(300%);
}

@keyframes showMovableChips {
  0%   { -webkit-filter: brightness(400%) hue-rotate(30deg); }
  50%  { -webkit-filter: brightness(600%) hue-rotate(230deg); }
  100% { -webkit-filter: brightness(400%) hue-rotate(30deg); }
}

.die1,.die2,.die3,.die4,.die5,.die6 {
  float: left;
  height: 35px;
  width: 35px;
  background-size: 35px 35px;
  margin-right: 20px;
  box-shadow: -3px 3px 8px #333;
}

.die1 {
  background-image: url(./images/die1.png);
}
.die2 {
  background-image: url(./images/die2.png);
}
.die3 {
  background-image: url(./images/die3.png);
}
.die4 {
  background-image: url(./images/die4.png);
}
.die5 {
  background-image: url(./images/die5.png);
}
.die6 {
  background-image: url(./images/die6.png);
}

.board, .cover {
    width: 725px;
}

.cover {
  display: table;
  top: 0px;
  left: 0px;
  height: 600px;
  background-color: #333;
  opacity: .4;
  z-index: 900;
  position: absolute;
  color: white;
}

.cover div {
  display: table-cell;
  vertical-align: middle;
}

.board {
  height: 600px;
}

.dice {
  top: 47%;
  left: 10%;
  z-index: 1000;
  position: absolute;
}

.chip_light {
  background-image: url(./images/chip_light.png);
}

.chip_dark {
  background-image: url(./images/chip_dark.png);
}

.bar {
  width: 25px;
  height: 600px;
  background: black;
  float: left;
}

.sep {
  width: 13px;
  height: 600px;
  background: black;
  float: left;
}

.board-section {
 float: left;
}

.darken {
  -webkit-filter: brightness(50%)
}

.highlightSquare {
  -webkit-filter: brightness(150%)
}

.dropTargetSquare {
  -webkit-filter: brightness(200%)
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  text-align: center;
  float: left;
  padding: 0 0 0 0 ;
  border: 0 0 0 0;
  position: relative;
}

.game {
}

.game-info {
}

.bold-square {
  background: #fee;
}

.cube, .holder {
    width: 75px;
}

.cube {
    height: 50px;
    background: #111;
}

.holder {
  height: 275px;
  background: #242;
}

.holder div:first-child {
    height: 12px;
}

.holder .chips {
  /*margin: 10px 5px 0 5px;*/
    -webkit-box-shadow: inset 0 1em 2em -2em ;
  height: 250px;
  width: 60px;
  background: #224022;
    margin: 0 auto;
    position: relative;
    /*-webkit-filter: drop-shadow(5px 5px 5px #222);*/
    /*filter: drop-shadow(-2px 2px 1px #222);*/
}
